server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    #access_log  /var/log/nginx/host.access.log  main;

    server_tokens off;

    location / {
        #return 403;
        #allow x.x.x.x/16;
        #deny all;
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location ^~ /school {
        #allow x.x.x.x/16;
        #deny all;

        index login.html;

        alias /usr/share/nginx/html/school/;
    }

    # if dev no need below location
    location ^~ /my-education-fair-2024 {
        #allow x.x.x.x/16;
        #deny all;
        index my_education_fair_2024.html;

        alias /var/www/html/filemtime/;
    }

    location ^~ /my-education-fair-venue-2024 {
        #allow x.x.x.x/16;
        #deny all;
        index my_education_fair_venue_2024.html;

        alias /var/www/html/filemtime/;
    }

    location ^~ /mo-education-fair-2024 {
        #allow x.x.x.x/16;
        #deny all;
        index mo_education_fair_2024.html;

        alias /var/www/html/filemtime/;
    }

    location ^~ /hk-education-fair-2024 {
        #allow x.x.x.x/16;
        #deny all;
        index hk_education_fair_2024.html;

        alias /var/www/html/filemtime/;
    }

    location ^~ /id-education-fair-2024 {
        #allow x.x.x.x/16;
        #deny all;
        index id_education_fair_2024.html;

        alias /var/www/html/filemtime/;
    }

    location ^~ /expo-2025 {
        #allow x.x.x.x/16;
        #deny all;
        index expo_2025.html;

        alias /var/www/html/filemtime/;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}