<div class="row">
	<div class="col-md-6">
		<a href="./school/index.html" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">名額暨簡章調查系統</a>
	</div>
	<div class="col-md-6">
		<a href="https://school.overseas.ncnu.edu.tw/survey/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">教育展線上報名系統</a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<a href="./review" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">個人申請制備審資料下載與審查回覆系統</a>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				最新消息
			</div>
				<li class="list-group-item">
					<a href="https://drive.google.com/file/d/1fy8Af7mlR2bEktlolXdcm4wIjW9EahGs/view?usp=sharing" target="_blank">
						108 學年度各校名額調查及系所分則填報清冊
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
