<div class="row">
	<div class="col-md-6">
		<a href="/survey/index.php?r=survey/index&sid=245169&lang=zh-Hant-TW&encode=" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">名額調查及簡章分則填報系統</a>
	</div>
	<div class="col-md-6">
		<a href="https://dev.overseas.ncnu.edu.tw/LimeSurvey/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">教育展線上報名系統</a>
	</div>
</div>
