<div class="row">
	<div class="col-md-6">
		<a href="/school" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">簡章調查系統 (7/28 開放)</a>
	</div>
	<div class="col-md-6">
		<a href="https://dev.overseas.ncnu.edu.tw/LimeSurvey/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">教育展線上報名系統</a>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				最新消息
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="https://drive.google.com/open?id=1HUGkFdah0IzToosHFQPmfPZvGHWSLVr3rCXN5qguVHU" target="_blank">
						107 學年度簡章及名額調查系統操作說明
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://drive.google.com/open?id=0B539csY6QL2IM2ozcW50aFd6TFk" target="_blank">
						107 學年度英文簡章分則填報翻譯參考檔案
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://drive.google.com/open?id=0B539csY6QL2IbmpqZHlZRFRrWGM" target="_blank">
						106 學年度學士班招生名額暨分則規定
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://drive.google.com/open?id=0B539csY6QL2IQ0pVSzRsQkxickk" target="_blank">
						106 學年度港二技招生名額暨分則規定
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://drive.google.com/open?id=0B539csY6QL2INV9oNWhySXc0U1k" target="_blank">
						106 學年度碩士班招生名額暨分則規定
					</a>
				</li>
				<li class="list-group-item">
					<a href="https://drive.google.com/open?id=0B539csY6QL2IXy0wMXRqZVdWTmM" target="_blank">
						106 學年度博士班招生名額暨分則規定
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
