<div class="row">
	<div class="col-md-4">
		<a href="#" class="btn btn-primary btn-lg btn-block disabled" role="button" aria-pressed="true">簡章調查系統</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="btn btn-primary btn-lg btn-block disabled" role="button" aria-pressed="true">學生資料審查系統</a>
	</div>
	<div class="col-md-4">
		<a href="/survey" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">LimeSurvey 調查系統</a>
	</div>
</div>
