<div class="row">
	<div class="col-md-4">
		<a href="/school" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">簡章調查系統</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">學生資料審查系統</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">教育展報名系統</a>
	</div>
</div>
